@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

:root {
    --light: 400;
    --heavy: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mountains of Christmas", serif;
    font-style: normal;
    background-color: #EF233C;
}

.content {
    text-align: center;
    background-color: #FDFFFF;
}

.content h1 {
    font-weight: var(--heavy);
}

#giftForm {
    
}